/*form*/

form, .content {
   border:1px solid #333;
  width:40%;
  border-style: double;
  position:relative;
  left:30%;
  text-align:center;
  padding-top:50px;
  padding-bottom: 50px;
  font-weight: bold;
border-radius: 0px 0px 10px 10px; 
}
.input-group {
  margin: 10px 0px 10px 0px;
    font-weight: bold;
}
.input-group label {
display: block;
  text-align: left;
  margin: 3px 92px;
  font-size:18px;
}
.input-group input {
    height: 37px;
  width: 70%;
  padding: 5px 10px;
  font-size: 16px;
  border: 1px solid #ccc;
    font-weight: bold;
}
.btn {
  font-size: 19px;
   height:70px;
  width: 300px;
  background-color:#333;
  color:white;
  border:0px solid black;
  font-weight: bold;
  transition:0.3s;

}
.btn:hover{
  color:white;
    background-color:#ea2828;
      width: 420px;
      transition:0.3s;

}
.error {
  width: 70%; 
  margin: 0px auto; 
  padding: 0px; 
  border-bottom: 2px solid #ea2828; 
  color: #ea2828; 
  background: #fff; 
  border-radius: 0px; 
  text-align: left;
}
.success {
  color: #3c763d; 
  background: #dff0d8; 
  border: 1px solid #3c763d;
  margin-bottom: 20px;
}


/*form end*/

*{
  font-family: 'Poiret One', cursive;
  font-style:none;
  }






/*play logo*/

.topLogo{
    text-align : center;
}

h1{
  text-align: center;
}


* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}




.nav {

    border-bottom: 1px solid black;
    margin:0;
    padding:0;
}

/*button for signup and login*/

.button{
    background-color:#333;
    color:white;
    padding :10px 30px;
    text-align:center;
    display:inline-block;
    margin: 4px 2px;
    text-decoration: none;
    font-weight:bold;
    position: relative;
    left:80%;


}

a.button:hover{
    color:white;
    background-color:#EA2828;
}



li {
    float: none;
     display: block;
   display: inline-block;
   padding-left:none;
   padding-right: none ;
   border-right: 0px solid white  ;
   transition: all 0.2s ease-in-out;
   width:24%;
    letter-spacing: 0px;


}

/*navigation bar font color*/

li a {
    display:block;
    color: black;
    text-align: center;
    padding: 23px  ;
    text-decoration: none;
    transition:0.1s;
}

/*dropdown timer */

li a:hover, .dropdown:hover .dropbtn  {

  color:black;
    background-color: white;
    transition: background-color 1s ease;
     box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.7);
       transition: 0.2s;
}



li.dropdown {

    display: inline-block;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 410px;
    margin:0px 0px;
    box-shadow: 0px 5px 16px 0px rgba(0,0,0,0.7);
} 

.dropdown-content a {
    color: white;
    background-color:#1a1a1a;
    padding: 10px 16px;
    text-decoration:none ;
    display: block;
    text-align: left;
    transition:0.3s;
}

.dropdown-content a:hover {
  color:white;
  background-color:black ;
  padding:20px 138px;
  transition:0.2s ;
}



.dropdown:hover .dropdown-content {
    display: block;
}




a.nav:hover{
  color:#BD0000;
}

/*footer design*/

.bottom{
    position:relative;
    background-size:cover;
    background-color:#333;
    width: 100%; 
    height: 250px;


}

p{
    text-align:center;
}


p.btmText{
    font-size:14px;
    color:white;
    text-align:left;
    font-family:Arial;
    
}

.btm{
    font-family:Helvetica;
    font-size:13px;
    color:white;
    text-align:left;
    position: absolute;
    bottom: 0;
    left: 0;
}


h2{
    font-size:20px;
    color:white;
    font-family:Arial; 
    font-style:none;
}

.btm{

    font-size:14px;
    color:white; 
    font-family:Arial; 

}

.btmLogo1 , .btmLogo2 , .btmLogo3, .btmLogo4, .btmLogo5, .btmLogo6{

    padding-right:4%;
    padding-left:4%;
}

.social , .contact , .about{
  display:inline-block;
  padding-left:7%;
  padding-right: 7%;

}

.about{
  position:relative;
  bottom:9%;
  left:6%;
} 

.contact{
  position:relative;
  top:9%;
  left:9%;
}

/*to remove the white border*/
body {
 margin-top: 0px;
 margin-right: 0px;
 margin-bottom: 0px;
 margin-left: 0px
}

/*footer desgin end*/

.loginform{
   font-weight: bold;
  font-size: 40px;
  text-align: center;
  margin:0px 455px;
  border-bottom: 1px solid #eee;
}

.alert {
    padding: 20px;
    background-color: #ea2828;
    color: white;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}